header {
    padding: 2%;
    text-align: center;
    background-size: cover;
    background-image: url(ermita7.PNG);
    background-position: center;
    color: white;
    font-size: 20px;
}
header h1{
    text-shadow: 5px 5px 4px black;
    color: white;
}
p{
    color: white;
}
header img{
    border-radius: 100px;
}
img{
  border-radius: 10%;
  max-width: 140px;
}
nav{
    display: inline-block;
    background-color: paleturquoise;
}
nav ul li a {
    background: #EEE;
    padding: 5px 20px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #444;
    border-radius: 20px;
    }
    nav ul li {
        display: inline-block;
        margin: 20px;
        }
  section {
            padding-left: 25px;
        }
        
 section:not(:last-child) {
            border-bottom: 1px solid grey;
        }


body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        h2{
          color: #7f1919;
          font-family: 'Times New Roman', Times, serif;
        }

        h4 {
            color: #7f1919;
            font-family: 'Times New Roman', Times, serif;
        }

        h3 {
            color: #610e1c;
            font-family: 'Times New Roman', Times, serif;
        }

        section {
            margin-left: 8px;
        }

        ul {
            list-style: none;
        }

        ul>li::before {
            content: "►";
            padding: 0.5em;
            color: #9d7f8d;
        }
        footer{
            text-align: right;
            padding-right: 15px;
           background-color: #444;
           min-height: 125px;
           }
