#nav {
            background-color: bisque;
        }

        #nav ul {
            display: flex;
            justify-content: center ;
            list-style: none;
        }

        #nav ul li {
            background-color: rgb(196, 80, 220);
            padding: 10px 15px;
            border: 5px solid black;
            margin: auto;
        }

        #nav ul li:hover {
            background-color: rgb(92, 92, 92);
        }

        #nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 16px;

        }
    
        .container {
            justify-content: end;
            background-color: rgb(131, 115, 235);
            display: flex;
        }

        .container2 {
            background-color: black;
            display: flex;
            width: 100px;
            flex-direction: column-reverse;
        }

        .caja {
            background-color: rgb(255, 214, 139);
            padding: 5px;
            margin: 5px;
        }
